<h2><%= manga.title %> </h2>
<img width="100" height="150" src="<%= manga.coverImagePath %>">
<div>Author: <%= manga.author %></div>
<div>Chapter: <%= manga.chapter %></div>
<div>Description: <%= manga.description %></div>

<a href="/mangas/<%= manga.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
            { url: `/mangas/${manga.id}`}) %> 